/* Landingpage.css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: auto;
}

.landing-page {
   
  background-image: url('https://www.usnews.com/object/image/00000178-f4fa-d258-a5f9-fdffb8ec0000/39-minitas-beach-club2.jpg?update-time=1678805410349&size=responsive640');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.header {
  text-align: center;
}

.title {
  text-align: center;
}

.title h1 {
  margin: 0;
  color: #001E6C;
  font-size: 44px;
  padding-top: 80px;
}

.description {
  text-align: center;
  color: #957a5b; 
  font-size: 20px; 
  line-height: 1.5; 
  margin-top: 20px; 
}

.navbar {
  position: relative;
  width: 100%;
  height: 50px;
  background: #001E6C;
  font-size: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.button {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  background-color: #001E6C;
  padding: 0 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
