/* Landingpage.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}

.navLanding {
  width: 100%;
  height: 50px;
  background-color: #001E6C;
  font-size: 20px;
  display: flex;
  justify-content: right;
}
.navitms{
 text-decoration: none;
 color: white;
 margin-right: 25px;
 margin-top: 6px;
}

.landing-page {
  background-image: url('https://www.usnews.com/object/image/00000178-f4fa-d258-a5f9-fdffb8ec0000/39-minitas-beach-club2.jpg?update-time=1678805410349&size=responsive640');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.header {
  text-align: center;
}

.title {
  text-align: center;
}

.title h1 {
  margin: 0;
  color: white;
  font-size: 44px;
  padding-top: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.description {
  text-align: center;
  color: rgb(240, 131, 53); 
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.476);
  font-size: 20px; 
  font-weight: 800;
  font-style: italic;
  line-height: 1.5; 
  padding : 30px 50px;
  background-image: linear-gradient(to right, #00f7ff1f, #00a3a0b5); 

}

#startbtn {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  background-color: #001E6C;
  padding: 0 20px;
  border-radius: 8px;
  margin-right: 20px;
} 

.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

#startbtn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Hide the pop-up by default */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Show the pop-up when it's active */
.popup.active {
  display: block;
}

/* Style for the close button */
.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* Overlay to darken the background */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

/* Show the overlay when pop-up is active */
.overlay.active {
  display: block;
}
